<nav [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" class="sidebar">
    <div class="list-group">
        <a [class.router-link-active]="!currentAddress" [routerLink]="['/dashboard']" class="list-group-item"
           (click)="changeThread(undefined)">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>Home</span>
        </a>
        <a class="list-group-item address" *ngFor="let address of addresses"
           [class.router-link-active]="currentAddress === address" (click)="changeThread(address)">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{address}}</span>
        </a>
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{collapsed: collapsed}" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
